.st-link {
	display: inline-block !important;
	flex: unset !important;

	width: 10px !important;
	min-width: 10px !important;
	max-width: 10px !important;

	height: 10px !important;
	min-height: 10px !important;
	max-height: 10px !important;

	margin-right: 4px !important;
	padding: 0 !important;

	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.st-popover {
	position: absolute;
	z-index: 9999;

	display: none;
	padding: 10px;
	border-radius: 4px;

	background-color: #FFF;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.19);
}

.st-popover_show_true {
	display: flex;
}

.st-popover-key {
	font-size: 15px;
	font-weight: 600;
	color: #303134;
}

.st-popover-priority,
.st-popover-assignee,
.st-popover-status {
	font-size: 10px;
}

.st-popover-close {
	height: 16px;
	margin-left: 8px;
	margin-top: 4px;

	cursor: pointer;
	user-select: none;
}

.st-popover-close:before {
	content: "✖️";
	display: block;
	line-height: 1;
}
