.st-link {
	display: inline-block !important;
	width: 10px !important;
	height: 10px !important;

	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.st-popover {
	position: absolute;
	z-index: 9999;

	display: none;
	padding: 4px;
	border-radius: 4px;

	background-color: #FFF;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.19);
}

.st-popover_show_true {
	display: block;
}

.st-popover-title {
	font-size: 18px;
	font-weight: 500;

	color: #303134;
}

.st-popover-content {
	margin-top: 10px !important;

	font-size: 14px !important;
	font-weight: 300 !important;
	line-height: 1.2 !important;

	color: #424346 !important;
}
